[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plyer = ">=1.4.3"
psutil = ">=5.7.0"
pillow = ">=7.1.2"
humanize = ">=2.4.0"
pyside6 = "*"

[dev-packages]
pyinstaller = "*"
pypiwin32 = "*"

[requires]
python_version = "3.8"
